.button {
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: #03045E;
  border-style: none;
  color: #fff;
  height: 50px;
  width: 150px;
  margin: auto auto 10px auto;
}

.button__text {
  margin: 10px;
  font-size: 24px;
}

.buttton_update {
  border-style: none;
  background-color: #ADE8F4;
}

.button_plus {
  background-image: url("../images/circle-plus-alt.svg");
}

.button_minus {
  background-image: url("../images/circle-minus-alt.svg");
}

.button_alt {
  min-height: 40px;
  min-width: 40px;
  background-size: contain;
  border-style: none;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
}

@media screen and (max-width: 680px) {
  .button__text {
    font-size: 4.25vw;
  }
}