.coin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coin__header {
    display: flex;
    justify-content: center;
    background-color: #0096C7;
    color: #fff;
    width: 100%;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

.coin__form {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    margin-top: 10px;
}

@media screen and (max-width: 680px) {
    .coin__header {
        font-size: 20px;
    }
}